<script async src="https://www.googletagmanager.com/gtag/js?id=G-7SSXQDQ9JJ"></script>
<script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
        dataLayer.push(arguments);
    }

    gtag('js', new Date());

    gtag('config', 'G-7SSXQDQ9JJ');

    function scrollToAnchor() {
        if (window.location.hash) {
            const target = document.querySelector(window.location.hash);

            if (target) {
                let handler = (timeout) => {
                    setTimeout(() => {
                        console.log('Attempt scroll ' + timeout)
                        target.scrollIntoView({behavior: 'smooth', block: 'start'});
                    }, timeout)
                };
                handler(100);
                handler(200);
                handler(300);
                handler(400);
                handler(500);
                handler(600);
                handler(700);
                handler(800);
                handler(900);
                handler(1000);
            }
        }
    }

    // Handle visitors landing directly on the page via an anchor link
    window.addEventListener('load', scrollToAnchor);

    // This doesn't work, probably because hashchange is being intercepted by the framework
    // window.addEventListener('hashchange', scrollToAnchor);

    document.addEventListener('click', (event) => {
        // Find the closest anchor tag
        const anchor = event.target.closest('a');

        // Check if it's an internal hash link
        if (anchor && anchor.getAttribute('href').startsWith('#')) {
            const targetHash = anchor.getAttribute('href');
            console.log('User is navigating to hash:', targetHash);
            // Let the hash change first by letting go of the thread
            setTimeout(scrollToAnchor)
        }
    });

</script>
<link rel="shortcut icon" type="image/png" href="/assets/favicon/favicon.ico">