<script async src="https://www.googletagmanager.com/gtag/js?id=G-7SSXQDQ9JJ"></script>
<script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
        dataLayer.push(arguments);
    }

    gtag('js', new Date());

    gtag('config', 'G-7SSXQDQ9JJ');

    function scrollToAnchor() {
        if (window.location.hash) {
            const target = document.querySelector(window.location.hash);

            if (target) {
                let handler = (timeout) => {
                    setTimeout(() => {
                        console.log('Attempt scroll ' + timeout)
                        target.scrollIntoView({behavior: 'smooth', block: 'start'});
                    }, timeout)};
                handler( 250);
                handler( 500);
                handler( 750);
                handler( 1000);
                handler( 1250);
                handler( 1500);
                handler( 2000);
            }
        }
    }

    // 1. Handle visitors landing directly on the page via an anchor link
    window.addEventListener('load', scrollToAnchor);

    // 2. Handle users clicking an anchor link while already browsing the page
    window.addEventListener('hashchange', scrollToAnchor);
</script>
<link rel="shortcut icon" type="image/png" href="/assets/favicon/favicon.ico">